In [6]:
#import pandas as pd
#df = pd.read_csv('https://query.data.world/s/5dpnyov52z2lsghtptp4v6n473tm6l')
#print(df.to_string()) ###is not necessary

#print(df.head(10))
#print(df.tail(5))

#dft=df.T
#print(dft)

#print(df.info())  #to see if there is a need to fill in gaps in data or corret data types

#df.dropna(inplace = True)  #to remove missing values. #https://www.w3resource.com/pandas/dataframe/dataframe-dropna.php 

#print(df.to_string())

#df.corr()  #https://www.geeksforgeeks.org/python-pandas-dataframe-corr/
            #The corr() method calculates the relationship between each column in your data set.
            #https://www.w3schools.com/python/pandas/pandas_correlations.asp

#import matplotlib.pyplot as plt
#df.plot()
#plt.show()

#df["2016"].plot(kind = 'hist')

#df.plot(kind = 'scatter', x = '2002, y = '2016')  #plots the simple one data set graph

#plt.show()   #https://www.geeksforgeeks.org/matplotlib-pyplot-show-in-python/ 
              #relevant to joint-print different sections of a graph, i.e. if they follow different equations, for example

#print(df[])

#df["2002"]=df["2002"]/1000

#df["2002"]=df["2002"]/1000000
#print(df["2002"])

#df.plot(kind = 'scatter', x = '2002', y = '2016')

#dfc=df.T
#print(dfc)

#dfc.plot(kind = 'scatter', x = 'Item', y = 'TOTAL')
#print(df["Item"])

#dfc.iloc[0]  # Dataframe.iloc[] method is used when the index label of a data frame 
              #is something other than numeric series of 0, 1, 2, 3….n or in case the user doesn’t know the index label. 
              #Rows can be extracted using an imaginary index position which isn’t visible in the data frame.
              #https://www.geeksforgeeks.org/python-extracting-rows-using-pandas-iloc/

#print(dfc[1])

#print(df.index)

#!pip install seaborn
#import seaborn
#x = np.linspace(0, 2, 10)
#plt.plot(x, 'o-');
#The o will produce a small circle.
#The - will produce a solid line to connect the markers.

#sns.boxplot(x ='Item', y ='2002', data = df)

#pd.melt(df, id_vars = 'Item',var_name='Year', value_name ='No of Transactions')  
    #https://pythoninoffice.com/turn-pandas-dataframe-from-wide-to-long-format/

#The function dataframe. isnull(). sum(). sum() returns the number of missing values in the data set.
#https://miamioh.instructure.com/courses/38817/pages/data-cleaning#:~:text=in%20the%20data.-,The%20function%20dataframe.,values%20in%20the%20data%20set.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('https://query.data.world/s/5dpnyov52z2lsghtptp4v6n473tm6l')
print(df)
#print(df.to_string()) ###is not necessary
#dfc=df.T
#print(dfc)
#dfc.iloc[0]

                                                  Item         2002  \
0                                                TOTAL -35876109830
1                   994--Estimated Low Value Shipments    623484621
2    992--EXPORTS NOT OVER $10;000(TO 3/98) $20;000...     15113368
3      984--Estimate Of Low Valued Import Transactions  -1172025052
4                               971--Gold; Nonmonetary     17811824
..                                                 ...          ...
260    017--Meat & Edible Offal; Prepared Or Preserved       232697
261  016--Meat & Edible Offal; Salted; Dried; or Sm...     -2926633
262                     012--Other Meat & Edible Offal      7058957
263                        011--Meat Of Bovine Animals      3108613
264                                  001--Live Animals    -30360786

            2003         2004         2005         2006         2007  \
0   -39280825289 -45849692767 -50567215101 -47922933506 -44744392499
1      678119775    695549518    741823127    944869594   1108320259
2        8010114      4729046      4994816      3002118      2235615
3    -1312534635  -1487019545  -1633399445  -1718387557  -1827305897
4       27014109     14962071    129760760    166616887    233025975
..           ...          ...          ...          ...          ...
260       587111       372075      -195323      -345740      1073217
261     -3535514     -4199496     -4552923     -4932715     -2953140
262     13428973      4087996      8752184      6336684      5950410
263      2365935      3267623      3874812      3862743      5550502
264    -34159033    -30794939    -42622962    -58302207    -76193105

            2008         2009         2010         2011         2012  \
0   -42991317994 -28191895873 -34295148642 -49390148480 -60422803955
1     1270847697   1010225443   1535328229   1141837603   1094869804
2         888789            0            0            0            0
3    -1910014121  -1382495729   -943830629  -1060704872   -982543139
4      289103793    115709526    301993558    271600143    242058414
..           ...          ...          ...          ...          ...
260       378413      1069136      1232956      4042398      4293856
261     -3141828     -3230454     -3365269     -4229613     -3355731
262      9471908      5700577      5573072      6855249      6892779
263     11033788      5960413     13289911     21634983     32813301
264    -42991222    -23891843    -12669104    -28672342    -83193231

            2013         2014         2015         2016
0   -66978434378 -74808561932 -74849665112 -64865434126
1     1061840204   1096943222   1115401191   1110454100
2              0            0            0            0
3     -966186434  -1403556177  -1402435613  -1382227006
4      456799215    217264765     65091374     90565147
..           ...          ...          ...          ...
260      3834191      5842935      4982928     -2868839
261     -3655768     -3988141     -2497766     -2574818
262      6655262      5289910      5416925      2871871
263     35029608     35120544     33279257     25012048
264   -115358684   -136678678   -189066016   -203640632

[265 rows x 16 columns]

In [2]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Item    265 non-null    object
 1   2002    265 non-null    int64
 2   2003    265 non-null    int64
 3   2004    265 non-null    int64
 4   2005    265 non-null    int64
 5   2006    265 non-null    int64
 6   2007    265 non-null    int64
 7   2008    265 non-null    int64
 8   2009    265 non-null    int64
 9   2010    265 non-null    int64
 10  2011    265 non-null    int64
 11  2012    265 non-null    int64
 12  2013    265 non-null    int64
 13  2014    265 non-null    int64
 14  2015    265 non-null    int64
 15  2016    265 non-null    int64
dtypes: int64(15), object(1)
memory usage: 33.2+ KB
None

In [5]:
print(df.index)

RangeIndex(start=0, stop=265, step=1)