In [12]:
class Pet:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def hello(self):
        print("Hello my name is " + self.name + " and I am " + self.age + " years old")
        
class Cat(Pet):
    def meow(self):
        print("Meeeeeooooww! I am a cat!")

class Dog(Pet):
    def bark(self):
        print("Wooof! Woof! I am a dog!")

class Turtle(Pet):
    def hide(self):
        print("Hide! I'm shy! I am a turtle!")

class Bird(Pet):
    def fly(self):
        print("Swoooosh! I'm flying away! I am a bird!")

cat_one = Cat("maya", "12")
#cat_one = Cat ("gato", "10") if adding this, it overwrites the previous line
dog_one = Dog("bosco", "2")
turtle_one = Turtle("speedy", "5")
bird_one = Bird("diver", "1")

cat_two = Cat("gato", "13")
dog_two = Dog("perro", "3")
turtle_two = Turtle("tortuga", "6")
bird_two = Bird("pajaro", "2")

cat_three = Cat("gatito", "14")
dog_three = Dog("perrito", "4")
turtle_three = Turtle("tortuguita", "7")
bird_three = Bird("pajarito", "4")

cat_four = Cat("gat", "15")
dog_four = Dog("gosu", "16")
turtle_four = Turtle("caparazon", "10")
bird_four = Bird("pardalet", "6")

cat_five = Cat("gatet", "16")
dog_five = Dog("goset", "17")
turtle_five = Turtle("caparazonet", "11")
bird_five = Bird("pardal", "8")

cat_one.hello()
cat_one.meow()

dog_one.hello()
dog_one.bark()

turtle_one.hello()
turtle_one.hide()

bird_one.hello()
bird_one.fly()

Hello my name is maya and I am 12 years old
Meeeeeooooww! I am a cat!
Hello my name is bosco and I am 2 years old
Wooof! Woof! I am a dog!
Hello my name is speedy and I am 5 years old
Hide! I'm shy! I am a turtle!
Hello my name is diver and I am 1 years old
Swoooosh! I'm flying away! I am a bird!

In [16]:
class Tabletype:
    def __init__(self, height, width):
        self.height = height  #the name after self. must be identical to the name after the =
        self.width = width

    def prueba(self):
        print("ALTURA: " + self.height)
        
Table_one = Tabletype("1", "2")
Table_one.prueba()

ALTURA: 1