# Python Exercises

In [ ]:
print("Hello dear students")

In [ ]:
#hello redi
print("Hello ReDI")
print("Hello ReDI\nMy name is Neslihan")

In [1]:
# Input your name and print it 
name = input('What is your name?\n')
print('Hi, %s.' % name)

What is your name?
Maria
Hi, Maria.

In [2]:
# Input your age and print it 
age = input("How old are you?\n")
print('Your age is {0}'.format(age))

How old are you?
32
Your age is 32

### Variable

In [ ]:
#variable
x = 4       #  is of type int
print(type(x))
print(x)
x = "Sally" # x is now of type str
print(type(x))
print(x)

In [ ]:
print(x)
#multivariable
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
#data types
x = 5
print(type(x))

In [ ]:
#numeric variables
x = 1   #int
print(type(x))
y = 2.8  #float
print(type(y))
z = 1j   # complex
print(type(z))

In [ ]:
x=5
print(x)

In [ ]:
x=7.2

In [ ]:
a='hello'
print(a)
print(x)

In [ ]:
#sum as strings
a = input('Enter first number: ')
b = input('Enter second number: ')
sum = a + b
print(sum)
type(sum)

In [ ]:
#sum as integer
a = input('Enter first number: ')
b = input('Enter second number: ')
sum = int(a) + int(b)
#print(type(sum))
#print(sum)
print('Sum is {0}'.format(sum))
print(type(a))
print(type(b))
print(type(sum))

In [ ]:
#sum as float
a = input('Enter first number: ')
b = input('Enter second number: ')
sum = float(a) + float(b)
#print(type(sum))
#print(sum)
print('Sum is {0}'.format(sum))
print(type(a))
print(type(b))
print(type(sum))

### List

In [ ]:
#list
x = ["apple", "banana", "cherry"]
print(x)
#thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
#print(thislist)

In [ ]:
print(type(x))

In [ ]:
x[0] #first item of the list

In [ ]:
mylist=list(('apple','banana',"cherry"))
mylist

In [ ]:
type(mylist)

### Dictionary

In [ ]:
#dictionaries
x = {"name" : "John", "age" : 36}
print(x)

In [ ]:
x["name"]

In [ ]:
x["age"]

In [ ]:
print(x.get('age'))

In [ ]:
# update value
x['age'] = 27
print(x)

In [ ]:
# add item
x['gender'] = 'Male'
print(x)

In [ ]:
#Boolean
x = True
type(x)

### IF

In [ ]:
#if
a = 100
b = 33
print('a is {0}'.format(a))
print('b is {0}'.format(b))

In [ ]:
if b > a:
    print("b is greater than a")

else:
    print("b is not greater than a")

In [ ]:
#if
a = 33
b = 33
print('a is {0}'.format(a))
print('b is {0}'.format(b))

In [ ]:
if b > a:
    print("b is greater than a")
elif b < a:
    print("b is not greater than a")
else:
    print("b is equal to a")

### Function

In [ ]:
print("hello word")

In [ ]:
a="hello word"
print(a)

In [ ]:
def redi():
    print("hello word")
redi()

In [ ]:
def my_function():
    print("Hello world from a function")
my_function()

In [4]:
def my_function2(a):
    print("Function calls",a)
my_function2(a)

NameError: name 'a' is not defined

In [6]:
def was_it_sunny(it_was):
    if it_was==True:
        print("yes")
    else:
        print("no")
        
return was_it_sunny
was_it_sunny(True);
was_it_sunny(False);

SyntaxError: 'return' outside function (1422859624.py, line 7)