In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
np.set_printoptions(suppress=True)
#%matplotlib inline

In [2]:
df = pd.read_excel('Rohitxxa.xlsx')
df

    Blend       x1      x2     PV    AV   FFA     IP    TPM   CDV   ACL
0       4  1309.62  270.71   9.60  5.43  0.07  23.88   9.69  1.84  2.39
1       5   200.00  200.00  17.16  7.83  0.09  18.38  10.49  6.84  1.93
2       9   850.00  200.00  11.08  5.23  0.07  23.10   9.68  2.88  2.32
3       6  1500.00  200.00  11.14  8.89  0.08  22.41   9.64  2.66  2.46
4       1   390.38  129.29  14.46  6.73  0.09  19.46  10.34  4.96  2.07
5       2  1309.62  129.29  15.55  5.92  0.08  22.33   9.70  2.11  2.34
6      12   850.00  200.00  11.41  5.64  0.08  23.76   9.75  3.22  2.28
7       8   850.00  300.00  11.26  6.88  0.09  20.19   9.84  5.72  2.17
8      10   850.00  200.00  10.03  5.82  0.07  22.16   9.64  2.06  2.19
9       7   850.00  100.00  14.10  6.88  0.09  20.43  10.05  4.71  2.15
10     13   850.00  200.00   9.79  5.83  0.08  23.58   9.73  1.83  2.28
11     11   850.00  200.00  11.38  5.32  0.07  22.56   9.79  3.17  2.16
12      3   390.38  270.71  12.11  7.14  0.09  21.76  10.23  4.33  2.07

In [3]:
Y = df.loc[:, 'Blend']
Y

0      4
1      5
2      9
3      6
4      1
5      2
6     12
7      8
8     10
9      7
10    13
11    11
12     3
Name: Blend, dtype: int64

In [4]:
X = df.drop(['Blend'], axis=1)
X

         x1      x2     PV    AV   FFA     IP    TPM   CDV   ACL
0   1309.62  270.71   9.60  5.43  0.07  23.88   9.69  1.84  2.39
1    200.00  200.00  17.16  7.83  0.09  18.38  10.49  6.84  1.93
2    850.00  200.00  11.08  5.23  0.07  23.10   9.68  2.88  2.32
3   1500.00  200.00  11.14  8.89  0.08  22.41   9.64  2.66  2.46
4    390.38  129.29  14.46  6.73  0.09  19.46  10.34  4.96  2.07
5   1309.62  129.29  15.55  5.92  0.08  22.33   9.70  2.11  2.34
6    850.00  200.00  11.41  5.64  0.08  23.76   9.75  3.22  2.28
7    850.00  300.00  11.26  6.88  0.09  20.19   9.84  5.72  2.17
8    850.00  200.00  10.03  5.82  0.07  22.16   9.64  2.06  2.19
9    850.00  100.00  14.10  6.88  0.09  20.43  10.05  4.71  2.15
10   850.00  200.00   9.79  5.83  0.08  23.58   9.73  1.83  2.28
11   850.00  200.00  11.38  5.32  0.07  22.56   9.79  3.17  2.16
12   390.38  270.71  12.11  7.14  0.09  21.76  10.23  4.33  2.07

In [5]:
print(df.dtypes)

Blend      int64
x1       float64
x2       float64
PV       float64
AV       float64
FFA      float64
IP       float64
TPM      float64
CDV      float64
ACL      float64
dtype: object

In [6]:
df['Blend'] = df['Blend'].astype(float)

In [7]:
pca=PCA()
df_pca=pca.fit_transform(X=X)

In [8]:
# Store as dataframe and print
df_pca=pd.DataFrame(df_pca)
print(df_pca.shape) 
df_pca.round(3)

(13, 9)

          0        1      2      3      4      5      6      7      8
0  -459.633  -70.725 -0.481  0.746  0.362 -0.185  0.198  0.010  0.003
1   650.026    0.077  3.878  0.720 -0.373 -0.073 -0.037 -0.005  0.005
2    -0.009   -0.033 -2.112  0.441  0.355  0.257 -0.086  0.071  0.005
3  -649.999    0.023  2.480 -1.680 -1.186  0.123 -0.024  0.011  0.004
4   459.632   70.719  0.022 -0.737  0.248 -0.327  0.110  0.053 -0.001
5  -459.611   70.797  2.087  2.213 -0.104 -0.378 -0.047 -0.000 -0.005
6    -0.009   -0.030 -1.936  0.632 -0.157  0.963 -0.053 -0.002 -0.001
7     0.009  -99.987  3.004 -0.769  1.224  0.054 -0.072  0.009 -0.006
8    -0.012   -0.049 -2.491 -0.775  0.138 -0.904 -0.110 -0.029  0.002
9     0.013  100.023  0.883 -1.073  0.574  0.451  0.064 -0.037 -0.002
10   -0.017   -0.063 -3.460 -0.352 -0.513 -0.135 -0.008  0.008 -0.006
11   -0.006   -0.023 -1.477  0.330  0.571  0.114  0.007 -0.067  0.006
12  459.617  -70.729 -0.394  0.303 -1.139  0.041  0.058 -0.022 -0.004

In [9]:
print(pca.explained_variance_ratio_.round(3)[:10])

[0.977 0.023 0.    0.    0.    0.    0.    0.    0.   ]