In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
np.set_printoptions(suppress=True)
#%matplotlib inline

In [2]:
df = pd.read_excel('Rohit.xlsx')
df

    Blend     PV    AV   FFA     IP    TPM   CDV   ACL
0       4   9.60  5.43  0.07  23.88   9.69  1.84  2.39
1       5  17.16  7.83  0.09  18.38  10.49  6.84  1.93
2       9  11.08  5.23  0.07  23.10   9.68  2.88  2.32
3       6  11.14  8.89  0.08  22.41   9.64  2.66  2.46
4       1  14.46  6.73  0.09  19.46  10.34  4.96  2.07
5       2  15.55  5.92  0.08  22.33   9.70  2.11  2.34
6      12  11.41  5.64  0.08  23.76   9.75  3.22  2.28
7       8  11.26  6.88  0.09  20.19   9.84  5.72  2.17
8      10  10.03  5.82  0.07  22.16   9.64  2.06  2.19
9       7  14.10  6.88  0.09  20.43  10.05  4.71  2.15
10     13   9.79  5.83  0.08  23.58   9.73  1.83  2.28
11     11  11.38  5.32  0.07  22.56   9.79  3.17  2.16
12      3  12.11  7.14  0.09  21.76  10.23  4.33  2.07

In [3]:
Y = df.loc[:, 'Blend']
Y

0      4
1      5
2      9
3      6
4      1
5      2
6     12
7      8
8     10
9      7
10    13
11    11
12     3
Name: Blend, dtype: int64

In [4]:
X = df.drop(['Blend'], axis=1)
X

       PV    AV   FFA     IP    TPM   CDV   ACL
0    9.60  5.43  0.07  23.88   9.69  1.84  2.39
1   17.16  7.83  0.09  18.38  10.49  6.84  1.93
2   11.08  5.23  0.07  23.10   9.68  2.88  2.32
3   11.14  8.89  0.08  22.41   9.64  2.66  2.46
4   14.46  6.73  0.09  19.46  10.34  4.96  2.07
5   15.55  5.92  0.08  22.33   9.70  2.11  2.34
6   11.41  5.64  0.08  23.76   9.75  3.22  2.28
7   11.26  6.88  0.09  20.19   9.84  5.72  2.17
8   10.03  5.82  0.07  22.16   9.64  2.06  2.19
9   14.10  6.88  0.09  20.43  10.05  4.71  2.15
10   9.79  5.83  0.08  23.58   9.73  1.83  2.28
11  11.38  5.32  0.07  22.56   9.79  3.17  2.16
12  12.11  7.14  0.09  21.76  10.23  4.33  2.07

In [5]:
print(df.dtypes)

Blend      int64
PV       float64
AV       float64
FFA      float64
IP       float64
TPM      float64
CDV      float64
ACL      float64
dtype: object

In [6]:
df['Blend'] = df['Blend'].astype(float)

In [7]:
print(df.dtypes)

Blend    float64
PV       float64
AV       float64
FFA      float64
IP       float64
TPM      float64
CDV      float64
ACL      float64
dtype: object

In [8]:
pca=PCA()
df_pca=pca.fit_transform(X=X)

In [9]:
# Store as dataframe and print
df_pca=pd.DataFrame(df_pca)
print(df_pca.shape) 
df_pca.round(3)

(13, 7)

        0      1      2      3      4      5      6
0  -3.879  0.116 -0.216 -0.003  0.073  0.085  0.004
1   7.025  0.019 -0.002 -0.228  0.054 -0.031  0.006
2  -2.016  0.399 -0.763 -0.207 -0.105  0.039  0.005
3  -1.005 -0.885  2.592 -0.077 -0.103  0.013  0.003
4   3.512 -0.151 -0.380  0.611  0.165  0.081 -0.001
5   1.282  3.427  0.428  0.212 -0.152 -0.007 -0.004
6  -1.890  0.564 -0.414 -1.021 -0.036 -0.018 -0.002
7   1.235 -2.548 -0.671 -0.025 -0.291  0.006 -0.005
8  -2.509 -0.460 -0.127  1.063  0.006 -0.077  0.002
9   2.649  0.046 -0.043  0.065 -0.052  0.009 -0.004
10 -3.510  0.009  0.123  0.150  0.144 -0.012 -0.006
11 -1.365  0.225 -0.846 -0.029 -0.004 -0.056  0.006
12  0.472 -0.761  0.320 -0.511  0.301 -0.033 -0.003

In [10]:
print(pca.explained_variance_ratio_.round(3)[:10])

[0.78  0.137 0.061 0.02  0.002 0.    0.   ]

In [11]:
X_mean = X - X.mean()
X_mean.round(2)

      PV    AV   FFA    IP   TPM   CDV   ACL
0  -2.64 -1.00 -0.01  2.03 -0.20 -1.72  0.17
1   4.92  1.40  0.01 -3.47  0.60  3.28 -0.29
2  -1.16 -1.20 -0.01  1.25 -0.21 -0.68  0.10
3  -1.10  2.46 -0.00  0.56 -0.25 -0.90  0.24
4   2.22  0.30  0.01 -2.39  0.45  1.40 -0.15
5   3.31 -0.51 -0.00  0.48 -0.19 -1.45  0.12
6  -0.83 -0.79 -0.00  1.91 -0.14 -0.34  0.06
7  -0.98  0.45  0.01 -1.66 -0.05  2.16 -0.05
8  -2.21 -0.61 -0.01  0.31 -0.25 -1.50 -0.03
9   1.86  0.45  0.01 -1.42  0.16  1.15 -0.07
10 -2.45 -0.60 -0.00  1.73 -0.16 -1.73  0.06
11 -0.86 -1.11 -0.01  0.71 -0.10 -0.39 -0.06
12 -0.13  0.71  0.01 -0.09  0.34  0.77 -0.15