In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
np.set_printoptions(suppress=True)
#%matplotlib inline

In [3]:
df = pd.read_excel('Rohitxx.xlsx')
df

    Blend     x1     x2     PV    AV   FFA     IP    TPM   CDV   ACL
0       4  1.000  1.000   9.60  5.43  0.07  23.88   9.69  1.84  2.39
1       5 -1.414  0.000  17.16  7.83  0.09  18.38  10.49  6.84  1.93
2       9  0.000  0.000  11.08  5.23  0.07  23.10   9.68  2.88  2.32
3       6  1.414  0.000  11.14  8.89  0.08  22.41   9.64  2.66  2.46
4       1 -1.000 -1.000  14.46  6.73  0.09  19.46  10.34  4.96  2.07
5       2  1.000 -1.000  15.55  5.92  0.08  22.33   9.70  2.11  2.34
6      12  0.000  0.000  11.41  5.64  0.08  23.76   9.75  3.22  2.28
7       8  0.000  1.414  11.26  6.88  0.09  20.19   9.84  5.72  2.17
8      10  0.000  0.000  10.03  5.82  0.07  22.16   9.64  2.06  2.19
9       7  0.000 -1.414  14.10  6.88  0.09  20.43  10.05  4.71  2.15
10     13  0.000  0.000   9.79  5.83  0.08  23.58   9.73  1.83  2.28
11     11  0.000  0.000  11.38  5.32  0.07  22.56   9.79  3.17  2.16
12      3 -1.000  1.000  12.11  7.14  0.09  21.76  10.23  4.33  2.07

In [4]:
Y = df.loc[:, 'Blend']
Y

0      4
1      5
2      9
3      6
4      1
5      2
6     12
7      8
8     10
9      7
10    13
11    11
12     3
Name: Blend, dtype: int64

In [5]:
X = df.drop(['Blend'], axis=1)
X

       x1     x2     PV    AV   FFA     IP    TPM   CDV   ACL
0   1.000  1.000   9.60  5.43  0.07  23.88   9.69  1.84  2.39
1  -1.414  0.000  17.16  7.83  0.09  18.38  10.49  6.84  1.93
2   0.000  0.000  11.08  5.23  0.07  23.10   9.68  2.88  2.32
3   1.414  0.000  11.14  8.89  0.08  22.41   9.64  2.66  2.46
4  -1.000 -1.000  14.46  6.73  0.09  19.46  10.34  4.96  2.07
5   1.000 -1.000  15.55  5.92  0.08  22.33   9.70  2.11  2.34
6   0.000  0.000  11.41  5.64  0.08  23.76   9.75  3.22  2.28
7   0.000  1.414  11.26  6.88  0.09  20.19   9.84  5.72  2.17
8   0.000  0.000  10.03  5.82  0.07  22.16   9.64  2.06  2.19
9   0.000 -1.414  14.10  6.88  0.09  20.43  10.05  4.71  2.15
10  0.000  0.000   9.79  5.83  0.08  23.58   9.73  1.83  2.28
11  0.000  0.000  11.38  5.32  0.07  22.56   9.79  3.17  2.16
12 -1.000  1.000  12.11  7.14  0.09  21.76  10.23  4.33  2.07

In [6]:
print(df.dtypes)

Blend      int64
x1       float64
x2       float64
PV       float64
AV       float64
FFA      float64
IP       float64
TPM      float64
CDV      float64
ACL      float64
dtype: object

In [7]:
df['Blend'] = df['Blend'].astype(float)

In [8]:
pca=PCA()
df_pca=pca.fit_transform(X=X)

In [9]:
# Store as dataframe and print
df_pca=pd.DataFrame(df_pca)
print(df_pca.shape) 
df_pca.round(3)

(13, 9)

        0      1      2      3      4      5      6      7      8
0  -4.061 -0.098 -0.075 -0.503  0.522 -0.229  0.195  0.008  0.003
1   7.131 -0.317 -0.133 -0.579 -0.167 -0.260 -0.038 -0.005  0.005
2  -1.979  0.308 -0.887 -0.053 -0.004  0.226 -0.081  0.071  0.005
3  -1.226 -0.317  2.979  0.036 -0.152  0.158 -0.021  0.010  0.004
4   3.703  0.044 -0.453  0.963 -0.186 -0.109  0.107  0.052 -0.001
5   1.197  3.676  0.327 -0.474  0.501 -0.322 -0.043 -0.000 -0.005
6  -1.856  0.453 -0.628 -0.645 -0.406  0.690 -0.052 -0.001 -0.001
7   1.086 -2.897 -0.049 -0.229  0.955  0.113 -0.064  0.009 -0.006
8  -2.467 -0.367 -0.188  1.005  0.031 -0.616 -0.110 -0.028  0.002
9   2.732  0.599  0.202  0.824  0.094  0.686  0.064 -0.037 -0.002
10 -3.453  0.046 -0.160  0.346 -0.542 -0.141 -0.012  0.009 -0.006
11 -1.338  0.148 -0.876  0.071  0.157  0.141  0.006 -0.067  0.006
12  0.529 -1.278 -0.059 -0.762 -0.802 -0.336  0.050 -0.022 -0.004

In [10]:
print(pca.explained_variance_ratio_.round(3)[:10])

[0.727 0.149 0.068 0.028 0.016 0.011 0.001 0.    0.   ]